@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");


.hero {
    background: #FFE9E8;
}


.container-content {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 80px;
    height: 560px;display: flex;
align-items: center;
gap: 126px;
}

.container-descricao {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.container-descricao>h1 {
    color: #121214;
    font-family: Archivo;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 48px */
    /* margin-bottom: 20px; */
}


.container-descricao>p {
    color: #121214;
    font-family: Archivo;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
}

.button-container-content {
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: #CD3C32;
    color: #FFF;
    text-align: center;
    font-family: Archivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    /* margin-top: 50px */
}

.container-content-2 > img {
width: 500px;
height: 339px;
}